body {
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
}

a {
  color: orchid;
}


h1 {
	color: brown;
	background-color: gray;
	padding: 1%;
}

p {
	color: yellow;
	background-color: gray;
	padding: 1%;
}